.clickable{
    cursor: pointer;
}
.login-home{
	background-image:url("./components/login-bg.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.admin-bg{
	/* background-image:url("./components/adminbg.svg"); */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}